In [ ]:
# Will this line of code produce any output?

In [ ]:
# The following code will print a gretting inside a box.
print('-'*14)
print('|hello world.|')
print('-'*14)

In [ ]:
#Simple math and the 'format' feature.
# Show how to add multiple inputs.
x =4
y=2
z = x*y / 5
print('The Answer is: {} with variables {} and {} '.format(z,x,y))

In [ ]:
import math

In [ ]:
# Strings (str):
str1= "dog"
str2 = "Hello world."
str3 = 'single quotes work too!'

# Integers (int):
x = 1
y= 3
u = -5

# Float (float):
f = 1.5
r = 2/3
a = 1/9
pie = math.pi

#Boolean (bool):
ans = True
ans2 = False # notice how the format changes when using a bool.

# List (list): 
list1 = [1,3,8,10]

# Tuple (tuple):
tup = (1,3,8,10)

#Dictionary (dict):
dict1= {1: 'Brett', 2: 'Tony', 3: 'Margo'}

In [ ]:
print(
type(str1),
type(x),
type(pie),
type(ans2),
type(list1),
type(tup),
type(dict1)
)

In [ ]:
# If Statements:
# show with 1/3 and 0.333


x=5
y=1/3
    
if x == y:
    print('x is the same as y')
elif x < y:
        print('x is less than y')
else: 
    print('x must be greater than y')

In [ ]:
# Need at least the 'else' to have it run.

if x > y and str1 == 'dog':
    print('checks out')
else:
       pass

In [ ]:
# While Loop

i = 1
while i < 6:
  print(i)
  i += 1 # same as i = i+1

In [ ]:
# For Loop

fruits = ['apple', 'banana', 'orange', 'mango']

for fruit in fruits: 
    print(fruit)

In [ ]:
for fruit in fruits: 
    if fruit == 'banana':
        continue
    print(fruit)

In [ ]:
#remember that index starts at 0.
for i in range(6):
    print(i)

In [ ]:
# Functions

def my_function(name):
  print('Hello '+ name + ' from a function')

In [ ]:
my_function('Bobby')

In [ ]:
def compute(x):
    return x-4

compute(5)

In [1]:
# install demo

import pygame

pygame 1.9.6
Hello from the pygame community. https://www.pygame.org/contribute.html

In [2]:
# importing 
# see above with math.

import numpy as np
import pandas as pd
from sklearn import preprocessing as proc 
#much easier to narrow down the imports sometimes.

In [ ]:



# sklearn.preprocessing.binarize VS. proc.binarize

In [3]:
pd.read_csv('toy_EHR_data_50k.csv')

       person_id  label                                           diag_med
0         180815      0                                 77812763, 11127621
1          67047      0                       61660796, 55694559, 99200558
2         801507      1  96594808, 87477687, 23381895, 45926358, 556985...
3         228679      0  49908374, 71322858, 98064702, 58625048, 536304...
4         954090      0   84541011, 50501211, 99388728, 20423852, 41917932
...          ...    ...                                                ...
49995     119298      1             55699689, 80229535, 71199796, 16211644
49996     313423      0  70411611, 37746533, 32884622, 35831503, 493672...
49997     634094      0             59666776, 96624625, 18343730, 98757379
49998     372709      0    7170672, 21038197, 20330955, 61775635, 31570442
49999     115457      0                                           45502826

[50000 rows x 3 columns]

In [4]:
# Classes

class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
    
  def myfunc(self):
        print("Hello my name is " + self.name)

In [5]:
p1 = Person("John", 36)

#print(p1.name)
#print(p1.age) 

p1.myfunc()

Hello my name is John